.main-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 40px;
}
.calendar-body {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

/*--- Меню ---*/
.sidebar-menu { 
  min-width: 250px;
  max-width: 500px;
  padding: 10px;
  background: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
}
.hello{
  width: 100%;
  padding: 10px;
}
.sidebar-menu button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.sidebar-menu button:hover {
    background: #0056b3;
}

/*--- Календарь ---*/
.calendar-wrapper {
  min-width: 250px;
  max-width: 500px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.react-calendar {
  border: none;
  width: 100%;
}
.react-calendar__navigation button {
  font-size: 16px;
  padding: 8px;
}

.react-calendar__tile--active {
  color: #fff;
  border-radius: 8px;
}

.react-calendar__tile--today {
  background: #e0f2fe !important;
  color: #111;
  border-radius: 8px;
}




@media (max-width: 880px) {
  .main-layout{
    padding: 20px;
  }
  .sidebar-menu {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .sidebar-menu button {
    flex: 1 1 calc(50% - 10px);
  }
  .notes-panel {
    order: 3;
    width: 100%;
  }
}